.output_component {
  width: 80%;
  margin: 15px auto;
  text-align: left;
}
.user {
  font-weight: bold;
  margin: 0px;
}
.text {
  margin: 2px 0px;
  width: 100%;
}
.hidden {
  visibility: hidden;
}
.output {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ion-icon {
  font-size: 22px;
  color: rgb(49, 49, 49);
  cursor: pointer;
}
ion-icon:hover {
  color: rgb(71, 71, 71);
  transform: scale(1.05);
}
