.output_component {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  text-align: left;
}
.user {
  font-weight: bold;
  margin: 0px;
  margin-top: 30px;
}
.text {
  margin: 2px 0px;
}
.hidden {
  visibility: hidden;
}
