.App {
  text-align: center;
}

.heading {
  background-color: rgb(29, 29, 29);
  color: white;
  height: 60px;
  padding: 10px 10px 0px 10px;
  margin-top: 0px;
}
@media (max-width: 300px) {
  .heading {
    font-size: 20px;
  }
}
